.footer {
    background: linear-gradient(90deg, #483D8B, #6A5ACD);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  